/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.note {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #adadad;
  text-align: center;
  padding: 40px;
  background: #fff;
  border: solid 1px #e9e9e9;
  cursor: pointer;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  margin-top: 0px;
  transform: translate(-50%, -50%);
}
.note:hover {
  transform: scale(1.02);
}
.btn-div {
  width: 100%;
  height: 200px;
  display: flex-inline;
  justify-content: center;
  align-items: center;
  /*padding: 8px 16px;*/
}
.btn {
  /*align-content: center;*/
  max-width: 300px;
  height: 50px;
  position: relative;
  width: 50px;
  top: 30%;
  left: 45%;
  margin-left: 20px;
  margin-right: 20px;
}
.round {
  border-radius: 50%;
}
.background-gradient {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  height: 100vh;
}
